@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MES 產品監控系統</h1>
    <hr />
    <button id="btnLoad" class="btn btn-primary">從後端獲取產品資料</button>

    <div id="dataDisplay" class="mt-4">
        <ul id="productList" class="list-group">
        </ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}
